{% load static %}
<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="{% static 'css/errores.css' %}">
</head>

<body>

<div class="page-wrapper">

    <div class="left-side">
        <img src="{% static 'images/kitty.png' %}" class="cat-img">
    </div>

    <div class="right-side">
        <div class="content">

            <div class="error-title">Error</div>
            <div class="error-code">404</div>

            <div class="oops">Oops...</div>
            <div class="message">El gatito movió algo y no hemos encontrado esta página</div>

            <a href="/" class="btn-back">Volver</a>

        </div>
    </div>

</div>

</body>
</html>